{% load static %}

<html>
  <head>
    <title>Canteen DB</title>
    <!-- CSS -->
    <script src="https://use.fontawesome.com/e9badded3d.js"></script>
    <link rel="stylesheet" href="{% static 'shoppingapp/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'shoppingapp/css/style.css' %}" />
    <!-- Javascript -->
    <script src="{% static 'shoppingapp/js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'shoppingapp/js/jquery.tablesort.js' %}"></script>
    <script src="{% static 'shoppingapp/js/script.js' %}"></script>
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Canteen DB</a>
      </div>
      <div class="nav navbar-nav">
        <li {% if request.path == '/categories' %}class="active"{% endif %}><a href="/categories">Categories</a></li>
        <li {% if request.path == '/products' %}class="active"{% endif %}><a href="/products">Products</a></li>
        <li {% if request.path == '/search' %}class="active"{% endif %}><a href="/search">Search</a></li>
      </div>
    </nav>
    <div class="container">
        {% block content %}
        {% endblock %}
        <div class="well well-sm" style="margin-top: 40px;">Canteen DB by Angus Atkinson for an IST assignment.</div>
    </div>
  </body>
</html>
