{% extends 'shoppingapp/base.html' %}
{% load mathtag %}

{% block content %}
<p>Welcome to the database for the Merewether High School canteen.</p>

<h2>New Products</h2>
<div class="row">
{% for product in newest_products_list %}
  <div class="col-sm-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="static/shoppingapp/images/{{ product.thumbnail }}" alt="{{ product.product_name }}">
      <div class="caption">
        <h3>{{ product.product_name }}</h3>
      </div>
    </a>
  </div>
{% endfor %}
</div>

{% if specials_list %}
  <h2>Specials</h2>
  <div class="row">
  {% for product in specials_list %}
    <div class="col-sm-6 col-md-3">
      <a href="#" class="thumbnail">
        <img src="static/shoppingapp/images/{{ product.thumbnail }}" alt="{{ product.product_name }}">
        <div class="caption">
          {% math product.special product.price "(1 - $1) * $2" as special_price %}
          <h3>{{ product.product_name }}</h3>
          <p>Now only ${{ special_price|floatformat:"2" }}</p>
        </div>
      </a>
    </div>
  {% endfor %}
  </div>
{% endif %}
{% endblock %}
